<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="Dice"
    src="https://www.freeiconspng.com/uploads/dice-png-transparent-images--png-all-4.png"
  />
  <span class="larger-font">Armentrout Family Dice</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
  <button class="gimme-space" mat-raised-button (click)="startNewGame()">
    <mat-icon>bar_chart</mat-icon> <span> Start New Game</span>
  </button>
<br>

  <ng-container *ngIf="settingUp; else gameInProgress">
    <mat-card color="secondary">
      <mat-card-header>
          <h2>Add your players below!</h2>
          <br>
      </mat-card-header>
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Player 1" [(ngModel)]="model.player1" name="player1">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Player 2" [(ngModel)]="model.player2" name="player2">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Player 3 - Optional" [(ngModel)]="model.player3" name="player3">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Player 4 - Optional" [(ngModel)]="model.player4" name="player4">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Player 5 - Optional" [(ngModel)]="model.player5" name="player5">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Player 6 - Optional" [(ngModel)]="model.player6" name="player6">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input type="number" matInput placeholder="Amout to Win" [(ngModel)]="model.totalScore" name="totalScore">
                      </mat-form-field>
        </form>
     

    <button class="gimme-space" mat-raised-button color="secondary" (click)="finishSetup()">
      <mat-icon>bar_chart</mat-icon> <span> Finish Setup</span>
    </button>  
    </mat-card>
      <br>

     
  </ng-container>
  <!-- Resources -->
  <ng-template #gameInProgress>
    Game in progress 
  </ng-template>
 

  <!-- Footer -->
  <footer>
      An Armentrout Production
  </footer>
</div>


